/********************
YOUR STYLES
*******************/


/* Header */
header {
  display: flex;
  justify-content: center;
}



/* Gallery Styling */
.gallery{
    display: flex;
    flex-wrap: wrap;
}

figure img {
    width: 100px;
}

figure{
    background-color: aquamarine;
    padding: 20px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lg-backdrop {
    background: magenta;
}

.lg-image {
    box-shadow: 0 0 30px #333;
}

/* Captions*/
caption {
    display: none;
}

/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
  body {
       background: red;
  }
    
    figure{
        width: 100%
    }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: green;
  }

    figure{
        width: 50%
    }
    
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: blue;
  }

figure{
        width: 30%
    }

/* Main Container */
    main {
    margin: auto;
    width: 90%;
    }
}